@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap);

html{ 
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
#nav{
    margin-top: 10px;
    font-size: 50px;
    flex-direction: row;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
li{
    display: inline-block;
    margin-top: 25px;
    height: 40px;
    list-style: none;
    margin-right: 30px;
}
a {
    text-decoration-line: none;
}
h2{
    text-align: center;
    font-size: 80px;
    line-height: 1;
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
}
#project_info{
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#syscon_div {
    text-align: center;
}
#system_config{
    width: 1200px; 
    height: auto;
}
#form_div {
    text-align: center;
}
#image_table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
}
#text_table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 30px;
    font-size: 50px;
}
#submitbtn{
    font-size: 35px;
    margin-top: 5px;
}
#submit{
    border: 0;
    background-color: white;
}
footer{
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    bottom:10px;
}