<!DOCTYPE html>
<html>

<head>
    <title>CDP2_TEAM7</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h2 id="title"><a href="/">Image Analysis & Keypoints Detection AI</a></h2>

    <ul id="nav">
        <li id="contour"><a href="/contour/what">Contour</a></li>
        <li> | </li>
        <li id="angle"><a class="active" href="/angle/what">Angle</a></li>
    </ul>
    <div id="form_div">
        <form action="/angle_upload" method="POST" enctype="multipart/form-data">
            <table id="image_table" border="1">
                <tr>
                    <td style="width: 500px; height: 500px;">
                        <div id="img_txt">
                            <label id="loadbtn" for="image">Click here to load image</label>
                            <input type="file" id="image" name="upload" style="display: none;"><br>
                            <label id="submitbtn" for="submit">Submit</label>
                            <input type="submit" id="submit" style="display: none;">
                        </div>
                        <img id="file_image" onerror="this.src='/images/white_back.jpg'" src=<%= final_file %>>
                    </td>
                    <td style="width: 500px; height: 500px;">
                        <div id="img_txt">
                            processing result
                        </div>
                        <div id="angle_value">
                            <%= result_value %>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <table id="text_table">
            <tr>
                <td style="width: 500px;" id="before">before</td>
                <td style="width: 500px;" id="after">after</td>
            </tr>
        </table>
    </div>

    <footer>
        <small>&copy; KNU CDP2_TEAM7 & NGarden &reg; 2021</small>
    </footer>
</body>

</html>