<!DOCTYPE html>
<html>
    <head>
        <title>CDP2_TEAM7</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h2>Image Analysis & Feature Point Detection AI</h2>
        <ul id="nav">
            <li id="contour"><a href="/contour/what">Contour</a></li>
            <li> | </li>
            <li id="angle"><a href="/angle/what">Angle</a></li>
        </ul>
        <div>
            <p id="project_info">
                After processing medical images (x-ray images) to derive the desired images clearly,<br>
                detect features such as lines, points, and angles.</p>
        </div>
        <div id="syscon_div">
            <img src="/images/sys_config.png" id="system_config" alt="File Open Error!">
        </div>
        <footer>
            <small>&copy; KNU CDP2_TEAM7 & NGarden &reg; 2021</small>
        </footer>
    </body>
</html> 